::-webkit-scrollbar {
    display: none;
}

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
   
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
    
}



header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
    
}
#menu
{

}
#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    
}

#menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 00px
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#home{
   background-image: url(images/3069023.jpg);
   
  
}



#about{
     background-color: #ED6663;
    width: 100%;
    height: 
}

#product{
     background-color: #10141b;
    
}



#contact{
     background-color: #B52B65;
}

#home h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 300%;
    text-decoration
}
#home h2{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 300%;
    font-weight: 50;
   
}



.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15rem;
  padding: 2rem;
  margin: 0 ;
  width: 100%;
}

.card {
     
  'Roboto', sans-serif;
  --bg-filter-opacity: 1px;
  background-image: url(),var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size:cover;
  background-position:top;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 5px solid #ccc;
  text-decoration: none;
 

}

.card:hover {
  transform: rotate(0);
    
}

.card h1 {
  margin: 0;
  font-size: 1em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Roboto';
  margin-top: 0.5em;
  line-height: 1.2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.9em;
  background: #880808;
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.em;
  line-height: 1.5em;
    margin-top: 10px;
  transition: all, var(--transition-time);
    
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 200%;
  height: 200%;
}

.card:after {
  background-image: ;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}
.tags a{
 display: inline-block;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    /margin-left: 0;
    /text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}